html{
    font-family: montserrat;
    color:rgb(0, 0, 0)
}

#mobile-nav{
    display:none;
}

body {
    font-family: montserrat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
}

.main-title{
    font-size: 3rem;
    margin-right: auto; /* Add space between h1 and the rest of the header */
    margin-left: 20px;
    line-height: 0;
}

header {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    justify-content: center; /* Center the navigation and image horizontally */
    align-items: center; /*s Center vertically */
    border-bottom: 2px solid black;
    height: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

section {
    padding: 2rem;
}

h1 {
    font-size: 2rem;
}

.description{
    text-align: center;
}

/* Style for the background section */
#home {
    background-color: #ffffff; /* Set a background color for the section */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-title-container{
    display: none;
  }

  .mobile-links{
    display: none;
  }

@media screen and (min-width: 600px){
  /* Style for the image container */
  .image-container {
    background-color: #fff; /* White background for the container */
    padding: 20px; /* Add padding to create a white border */
    max-width: 90%; /* Make the container slightly smaller than the screen */
  }
  
  .image-container img {
    max-width: 100%; /* Ensure the image doesn't exceed the container size */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }
}
  
#title-container{
    text-align: center;
    overflow: hidden;
    height: 100px;
}

#title{
    font-size: 3.5rem;
}

.social-media {
    text-align: center;
    margin: 20px;
}

.social-media a {
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    color: #333; /* Change the color to match your design */
}

.about-container {
    display: flex;
    align-items: center;
    height: 50%; /* 100% of the viewport height, adjust as needed */
    padding: 20px; /* Add padding to create some space between the content and the edge of the screen */
}

.about-me-section {
    flex: 1; /* Both the image and the "About Me" container share the available space equally */
    padding: 20px; /* Add padding to create space around the image and the "About Me" section */
    height: 75vh;
}

.about-image {
    padding: 20px; /* Add padding to the container */
    height: 79vh;
    width: auto;
}

.about-me-section {
    border: 1px solid #ccc; /* Add a 1px solid border with a color of your choice */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Add a box shadow with horizontal and vertical offset and blur radius */
    padding: 20px; /* Add padding to the section to create space between content and the container */
    background-color: #ffffff; /* Background color of your "About Me" section */
}


.contact-description{
    text-align: left;
    color:rgb(0, 0, 0);
    font-weight: bold;
}

footer {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    justify-content: center; /* Center the navigation and image horizontally */
    align-items: center; /*s Center vertically */
    border-top: 2px solid black;
}

.contact-body {
    border-left: 90px solid #C4F8FF ;
    border-right: 90px solid #C4F8FF ;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    min-height: calc(100vh - 40px);
}

/* Style for input groups */
.input-group {
    display: block;
    margin: 10px 0; /* Adjust the margin as needed to separate input groups */
}

/* Style for the Contact Me section */
#contact {
    background-color: #f5f5f5; /* Set a background color */
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Style for the "Contact Me" heading */
  #contact h1 {
    font-size: 24px;
    color: #333; /* Set the text color */
    margin-bottom: 20px;
  }
  
  /* Style for form labels */
  #contact label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  /* Style for input fields and textarea */
  #contact input,
  #contact textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    height: 30px;
    width: 400px;
  }
  
  /* Style for the "Submit" button */
  #contact button {
    background-color: #0CC0DF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: montserrat;
  }
  
  #contact button:hover {
    background-color:#C4F8FF ; /* Change color on hover */
  }

  .blog-post-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    max-width: 300px;
    float: left;
  }

  .blog-post-link , .about-post-link{
    color:#0CC0DF;
    text-decoration: none;
  }

  .blog-post-link:hover , .about-ppost-link:hover{
    color:#C4F8FF ;
    text-decoration: none;
  }

  /* Style for blog post images */
  .blog-post-image , .about-post-image {
    max-width: 100%;
    height: auto;
  }

  .post-content {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px auto; /* Center the box horizontally and add vertical margin */
    padding: 10px;
    max-width: 800px;
    text-align: left; /* Align the text to the left */
  }
  
  /* Style for blog post images */
  .post-image {
    max-width: 100%;
    height: auto;
  }

  .post-content h1 {
    text-align: center; /* Align the title to the left */
    padding-left: 10px; /* Add left padding */
    margin-top: 10px; /* Add top margin to separate from the image */
  }
  
  /* Style for the blog post summary */
  .post-content p {
    text-align: left; /* Align the summary to the left */
    padding-left: 10px; /* Add left padding */
    margin-top: 5px; /* Add top margin to separate from the title */
  }

   /* Media query for mobile*/
   @media screen and (max-width: 480px) {

    #desktop-nav{
        display: none;
    }

    #menu-icon, #menu {
        display: block;
    }

    body {
        font-family: montserrat;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: rgb(255, 255, 255);
        margin-top: 0; /* Set margin-top to 0 to ensure header starts at the top */
    }
    
    header {
        background: linear-gradient(to right, #C4F8FF, #0CC0DF);
        position: relative;
        top: 0;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        z-index: 1; /* Ensure it's above the content */
    }

    #post-body{
        padding-bottom: 100px;
    }

    #post-1-body{
        padding-bottom: 100px;
    }

    #title-header {
        height: auto; /* Reset the height to auto */
    }

    #home {
        padding: 0;
        margin: 0;
        height: auto; /* Reset the height to auto */
    }

    .mobile-title-container {
        display: block;
        z-index: 2;
        position: relative;
        text-align: center;
        top: 0;
    }

    .mobile-title {
        font-size: 1.5rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        padding-right: 5px;
    }

    .bold {
        font-weight: 500;
    }

    .mobile-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; /* Center vertically */
        position: absolute;
        top: 85%; /* Center it vertically within the section */
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        z-index: 1;
        width: 90%;
    }

    .blog-post-box,
    .about-post-box-mobile {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 10px 0; 
        padding: 10px;
        text-align: center;
        text-decoration: none;
        max-width: 100%;
        float: none; /* Remove the float to stack the boxes */
    }

    .image-container {
        display: none;
    }

    .main-title {
        font-size: 2rem;
        margin-left: 10px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 20px 0;
    }

    nav a{
        padding: 10px;
    }

    .image {
        display: none;
    }

    .about-container {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .about-me-section {
        margin-top: 0px;
        padding-bottom: 100px;
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #ffffff;
        text-align: center;
        padding: 1rem 0;
        z-index: 999;
    }
}

    /* Extra small devices */
    @media screen and (min-width: 481px) and (max-width: 767px) {
        /* Common styles shared by all screen sizes */

        #desktop-nav{
            display: none;
        }

        #menu-icon, #menu {
            display: block;
          }

        html {
            font-family: montserrat;
            color: rgb(0, 0, 0);
        }

        body {
            font-family: montserrat;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
        }

        .main-title {
            font-size: 2rem;
            margin: 0; /* Adjust spacing around the title */
            text-align: center; /* Center the title text */
        }

        header {
            background: linear-gradient(to right, #C4F8FF, #0CC0DF);
            padding: 1rem 0;
            text-align: center;
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav li {
            display: block;
            margin: 0;
            text-align: center; /* Center the navigation links */
        }

        nav a {
            text-decoration: none;
            color: #000000;
        }

        section {
            padding: 1rem; /* Reduce the padding for content sections */
        }

        h1 {
            font-size: 1.5rem; /* Reduce the font size for h1 elements */
            text-align: center; /* Center the heading text */
        }

        /* Style for the background section */
        #home {
            background-color: #ffffff;
            padding: 1rem; /* Adjust the padding for content */
            text-align: center;
        }

        .mobile-title-container {
            display: none; /* Hide the mobile title container */
        }

        .mobile-links {
            display: none; /* Hide the mobile links */
        }

        /* Style for the image container */
        .image-container {
            background-color: #fff;
            padding: 1rem;
            text-align: center; /* Center the content in the image container */
        }

        .image-container img {
            max-width: 100%;
        }

        #title-container {
            text-align: center;
            overflow: hidden;
            height: 100px;
        }

        #title {
            font-size: 1.5rem; /* Reduce the font size for title text */
        }

        .social-media {
            text-align: center;
        }

        .social-media a {
            font-size: 1rem; /* Reduce the font size for social media icons */
            margin: 5px;
        }

        .about-container {
            text-align: center; /* Center the content in the about container */
        }

        .about-me-section {
            padding: 1rem;
            text-align: left; /* Left-align text content */
        }

        .about-image {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto; /* Center the image horizontally */
        }

        .contact-description {
            text-align: center;
            font-weight: bold;
        }

        footer {
            background: linear-gradient(to right, #C4F8FF, #0CC0DF);
            padding: 1rem 0;
            text-align: center;
        }

        .contact-body {
            padding: 1rem;
        }

        /* Style for input groups */
        .input-group {
            display: block;
            margin: 10px 0;
        }

        /* Style for the Contact Me section */
        #contact {
            background-color: #f5f5f5;
            padding: 1rem;
            text-align: center;
        }

        #contact h1 {
            font-size: 1rem; /* Reduce the font size for the "Contact Me" heading */
        }

        /* Style for form labels */
        #contact label {
            display: block;
            margin: 10px 0;
            font-weight: bold;
        }

        /* Style for input fields and textarea */
        #contact input,
        #contact textarea {
            width: 100%;
            padding: 0.5rem;
            margin: 0.5rem 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
            height: auto;
        }

        /* Style for the "Submit" button */
        #contact button {
            background: linear-gradient(to right, #C4F8FF, #0CC0DF);
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        #contact button:hover {
            background: linear-gradient(to right, #0CC0DF, #C4F8FF);
        }

        .blog-post-box {
            background-color: #ffffff;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
            max-width: 100%;
        }

        .blog-post-link,
        .about-post-link {
            color: #0CC0DF;
            text-decoration: none;
        }

        .blog-post-link:hover,
        .about-ppost-link:hover {
            color: #C4F8FF;
        }

        /* Style for blog post images */
        .blog-post-image,
        .about-post-image {
            max-width: 100%;
            height: auto;
        }

        .post-content {
            background-color: #ffffff;
            padding: 1rem;
            text-align: left;
        }

        /* Style for the blog post summary */
        .post-content p {
            text-align: left;
            padding-left: 10px;
            margin: 5px 0;
        }

    }

    /* Small tablets */
    @media screen and (min-width: 768px) and (max-width: 991px) {
        /* Common styles shared by all screen sizes */
        #desktop-nav{
            display: none;
        }

        #menu-icon, #menu {
            display: block;
        }

        html {
            font-family: montserrat;
            color: rgb(0, 0, 0);
        }

        body {
            font-family: montserrat;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            background-color: rgb(255, 255, 255);
        }

        .main-title {
            font-size: 2rem;
            margin: 0; /* Adjust spacing around the title */
            text-align: center; /* Center the title text */
        }

        header {
            background: linear-gradient(to right, #C4F8FF, #0CC0DF);
            padding: 1rem 0;
            text-align: center;
        }

        nav ul {
            list-style: none;
            padding: 0;
        }

        nav li {
            display: inline;
            margin: 0 20px;
        }

        nav a {
            text-decoration: none;
            color: #000000;
        }

        section {
            padding: 2rem;
        }

        h1 {
            font-size: 2rem;
            text-align: center; /* Center the heading text */
        }

        /* Style for the background section */
        #home {
            background-color: #ffffff;
            padding: 2rem;
            text-align: center;
        }

        .mobile-title-container {
            display: none; /* Hide the mobile title container */
        }

        .mobile-links {
            display: none; /* Hide the mobile links */
        }

        /* Style for the image container */
        .image-container {
            background-color: #fff;
            padding: 2rem;
            max-width: 90%; /* Make the container slightly smaller than the screen */
            margin: 0 auto; /* Center the container horizontally */
        }

        .image-container img {
            max-width: 100%; /* Ensure the image doesn't exceed the container size */
            display: block;
            margin: 0 auto; /* Center the image horizontally */
        }

        #title-container {
            text-align: center;
            overflow: hidden;
            height: 100px;
        }

        #title {
            font-size: 3rem;
        }

        .social-media {
            text-align: center;
        }

        .social-media a {
            font-size: 24px;
            margin: 0 10px;
            text-decoration: none;
            color: #333; /* Change the color to match your design */
        }

        .about-container {
            display: flex;
            align-items: center;
            padding: 2rem; /* Add padding to create some space between the content and the edge of the screen */
        }

        .about-me-section {
            flex: 1;
            padding: 2rem; /* Add padding to create space around the image and the "About Me" section */
            height: 75vh;
        }

        .about-image {
            padding: 2rem; /* Add padding to the container */
            height: 79vh;
            max-width: 100%; /* Ensure the image doesn't exceed the container size */
            display: block;
            margin: 0 auto; /* Center the image horizontally */
        }

        .about-me-section {
            border: 1px solid #ccc; /* Add a 1px solid border with a color of your choice */
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Add a box shadow with horizontal and vertical offset and blur radius */
            padding: 2rem; /* Add padding to the section to create space between content and the container */
            background-color: #ffffff; /* Background color of your "About Me" section */
        }

        .contact-description {
            text-align: left;
            color: rgb(0, 0, 0);
            font-weight: bold;
        }

        footer {
            background-color: rgb(255, 255, 255);
            color: #000000;
            padding: 1rem 0;
            text-align: center;
            display: flex;
            justify-content: center; /* Center the navigation and image horizontally */
            align-items: center; /*s Center vertically */
            border-top: 2px solid black;
        }

        .contact-body {
            border-left: 90px solid #C4F8FF;
            border-right: 90px solid #C4F8FF;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            min-height: calc(100vh - 40px);
        }

        /* Style for input groups */
        .input-group {
            display: block;
            margin: 10px 0;
        }

        /* Style for the Contact Me section */
        #contact {
            background-color: #f5f5f5;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        #contact h1 {
            font-size: 24px;
            color: #333; /* Set the text color */
            margin-bottom: 20px;
        }

        /* Style for form labels */
        #contact label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
        }

        /* Style for input fields and textarea */
        #contact input,
        #contact textarea {
            width: 100%;
            padding: 5px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
            height: 30px;
            width: 400px;
        }

        /* Style for the "Submit" button */
        #contact button {
            background-color: #0CC0DF;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-family: montserrat;
        }

        #contact button:hover {
            background-color: #C4F8FF; /* Change color on hover */
        }

        .blog-post-box {
            background-color: #ffffff;
            padding: 1rem;
            text-align: center;
            text-decoration: none;
            max-width: 100%;
        }

        .blog-post-link,
        .about-post-link {
            color: #0CC0DF;
            text-decoration: none;
        }

        .blog-post-link:hover,
        .about-ppost-link:hover {
            color: #C4F8FF;
        }

        /* Style for blog post images */
        .blog-post-image,
        .about-post-image {
            max-width: 100%;
            height: auto;
        }

        .post-content {
            background-color: #ffffff;
            padding: 1rem;
            text-align: left;
        }

        /* Style for blog post images */
        .post-image {
            max-width: 100%;
            height: auto;
        }

        .post-content h1 {
            text-align: center;
            padding-left: 10px;
            margin-top: 10px;
        }

        /* Style for the blog post summary */
        .post-content p {
            text-align: left;
            padding-left: 10px;
            margin-top: 5px;
        }

    }

    /* Large tablets/laptops */
    @media screen and (min-width: 992px) and (max-width: 1199px) {
        /* Your large tablet/laptop-specific CSS rules here */
    }

    /* Desktops */
    @media screen and (min-width: 1200px) and (max-width: 1919px) {
        /* Your desktop-specific CSS rules here */
    }

    /* Extra large screens */
    @media screen and (min-width: 1920px) {
        /* Your extra large screen-specific CSS rules here */
    }

