body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Style for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  /* Style for the title in the navigation bar */
  .blog-title {
    color: #fff;
    font-size: 24px;
    margin: 0;
    margin-left: 20px;
  }
  
  /* Style for the navigation links */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-right ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-right ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .nav-right ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    margin: 20px;
    text-align: center;
  }

  /* Style for the footer */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  